{% extends 'base.html.twig' %}

{% block title %}Education{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/styleseduc.css">
    {{ encore_entry_link_tags('app') }}
{% endblock %}
 
{% block body %}
    <section class="container text-center">
        <button class="btn btn-block btn-primary mt-1">
            <h1>Education : Quelques diplômes et attestations Obtenus</h1>
        </button>
        <div class="row mr-0">
            <div class="col">
                {% for education in educations %}
                
                    <div class="card-wrapper {{education.direction}} ml-0">
                        <div class="card">
                            <div class="front {{education.color}}">{{education.title}}</div>
                            <div class="back">{{education.duree}}<br>{{education.content}}</div>
                        </div>
                    </div>
                
                {% endfor %}
            </div>
        <div>
    </section>
{% endblock %}
