{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}
 
{% block body %}   
    <section class="container">
        <button class="btn btn-block btn-primary mt-1 ">
            <h1>Compétences : En constante évolution</h1>       
        </button>
        <div class="row">
        {% for competence in competences %}             
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-1 mb-1 text-center">
                    <div id="competences" class="card-body">
                        <h2 class="card-title"><img src="images/{{competence.image}}" alt="" width="32" height="32" title="Bootstrap"> {{competence.title}}</h2>
                            <div class="progress ">
                                <div class="progress-bar {{competence.color}}" role="progressbar" style="width: {{competence.taux}}%">{{competence.taux}}</div> 
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}
