{% extends 'base.html.twig' %}

{% block title %}Expériences{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/stylesexp.css">
    {{ encore_entry_link_tags('app') }}
{% endblock %}
 
{% block body %}
 
    <section class="container text-center">
        <button class="btn btn-block btn-secondary mt-1 ">
            <h1>Expériences : Mes experiences professionnelles</h1>       
        </button>
        <div class="row mr-0">
        {% for experience in experiences %}             
            <div class="col">
                <div class="card mx-auto m-1">
                    <div id="competences" class="card-body bg-dark">
                        <h5 class="card-title"><h2 class="text-{{experience.color}}">{{experience.poste}}</h2>
                        <small class="text-info">{{experience.duree}}</small>
                        <hr class-"m-0">
                        <p class="text-light"> {{experience.content}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock %}
